.page{
    display: flex;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.phone{
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 3;
    transition: all .3s ease;
    &:hover{
        .phone__number{
            left: 104px;
        }
    }
}

.phone__number{
    color: $white;
    background-color: $accent;
    padding: 11px 20px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.3571428571428572em;
    position: relative;
    transition: all .5s ease-out;
    left: -1000px;
    top: 40px;
    z-index: 0;
}

.phone__icon{
    @include center-both;
    background: $accent;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    cursor: pointer;
    &:hover svg{
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
    &::after{
        position: absolute;
        content: "";
        display: block;
        background: rgba($accent,.5);
        width: 85px;
        height: 85px;
        border-radius: 100px;
        z-index: -1;
        animation: pulse 2s infinite;
    }
}

.side{
    width: 50%;
    height: 100%;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: auto contain;
}

.second-screen{
    transition: all .3s ease;;
}

.side_left,.second-screen_left{
    position: relative;
    &::after{
        content: "";
        display: block;
        width: 15px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -7.5px;
        background: #000;
    }
}

.expanded{
    width: 93%;
    overflow-y: auto;

    .scroll-down{
        opacity: 1;
        visibility: visible;
    }
}

.collapsed{
    width: 7%;

    .overlay{
        width: 7%;
        height: 100%;
        display: flex;
        align-items: center;
        background: rgba(0,0,0,0.44);
        backdrop-filter: blur(7px);
        position: fixed;
        right: 0;
        top: 0;
        transition: all .3s;
        transition-delay: .2s;
        z-index: 2;
        .arrow{
            right: 0;
            cursor: pointer;

            span{
                display: none;
            }
        }
    }

    &.side_left .overlay{
        right: unset;
        left: 0;
    }
}

.overlay{
    transition: all .3s;

    .arrow{
        position: absolute;
        top: 50%;
        width: 100%;
        transition: all .5s ease;
        transform: translateY(-50%);
        @include center-h;
    }

    .arrow_left{
        right: 100%;
    }

    .arrow_right{
        right: -100%;
    }
}

.first-screen{
    color: $dark;
    width: 100%;
    height: 100%;

    &_left{
        background: url('../img/bg3.jpg') no-repeat fixed center bottom / cover;
    }

    &_right{
        background: url('../img/bg2.jpeg') no-repeat fixed center bottom / cover;
    }
}

.side__second{
    color: $white;
}

.offer{
    padding: 40px;
    padding-right: 180px;
    background: rgba(255, 255, 255, 0.29);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    -o-backdrop-filter: blur(12px);
    -ms-backdrop-filter: blur(12px);
    border-radius: 15px;
    display: inline-block;

    &__hashtag{
        font-size: 14px;
    }

    &__title{
        margin-top: 9px;
        margin-bottom: 26px;
        line-height: 1.2190476190476192em;
        position: relative;
        &::after{
            content: "";
            display: block;
            position: absolute;
            right: -15px;
            bottom: -15px;
            width: 40px;
            height: 5px;
            background: $dark;
            border-radius: 5px
        }
    }

    &__btn{
        @include btn;
    }
}

.offer_left{
    margin-top: 17vh;
    margin-left: 10%;
}

.offer_right{
    margin-left: 10%;
    margin-top: 55vh;
}

.scroll-down{
    position: absolute;
    left: 50%;
    bottom: -100%;
    transition: all .3s ease;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}

.gallery{
    background: #333;
    padding-bottom: 100px;
    padding-top: 100px;
}

.tabs__caption{
    margin-bottom: 60px !important;
    li{
        margin-right: 50px;
        cursor: pointer;
        // transition: all .3s ease;

        .tabs__title{
            margin-bottom: 0;
            font-size: 42px;
            &::after{
                display: none;
            }
        }
    }
    li.active,li:hover{
        color: $accent
    }
}

.tabs__content {
    display: none;
    // transition: all .3s ease;
    // opacity: 0; /* по умолчанию прячем все блоки */
    // visibility: hidden;
}
.tabs__content.active {
    display: flex;
    // opacity: 1;
    // visibility: visible;  /* по умолчанию показываем нужный блок */
}

.section-title{
    margin-bottom: 90px;
    position: relative;
    @include center-h;
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 92.19px;
        height: 5px;
        background: $white;
        bottom: -15px;
    }

}

.gallery__item{
    position: relative;
    margin-bottom: 30px;
    &:hover{
        .gallery__image-caption{
            opacity: 1;
            visibility: visible;
        }
    }
}

.gallery__image{
    border-radius: 15px;
}

.gallery__image-caption{
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 15px;

    span{
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
}

footer{
    color: rgba($white,.8);
    font-size: 13px;
    background: rgb(48, 48, 48);
    padding: 25px 0;
    border-top: 1px solid rgb(67, 66, 66);
    a{
        color: inherit;
        text-decoration: underline;
    }
}