@media (max-width: 992px){
    .page{
        flex-direction: column;
    }
    .side{
        width: 100%;
        height: 50%;
    } 
    .second-screen_right{
        border-top: 7px solid #000;
    }  
    .second-screen_left::after{
        display: none;
    }
    .side_left::after{
        height: 7px;
        width: 100%;
        top: unset;
        right: unset;
        bottom: 0px;
    }
    .side_right .overlay::after{
        top: -6px
    }
    .offer_left{
        margin-top: unset;
        position: absolute;
        bottom: calc(10% + 5px);
    }
    .offer_right{
        margin-top: unset;
        top: 10%;
        position: absolute;
    }

    .slide-left{
        animation: slide-bottom 1s ease;
    }
    
    .slide-right{
        animation: slide-top 1s ease;
    }


    .expanded{
        height: 93%;
    }

    .overlay::after{
        content: "";
        display: block;
        background: #000;
        height: 7px;
        width: 100%;
        right: unset;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        transition-delay: .6s;
    }
    
    .collapsed{
        height: 7%;
    
        .overlay{
            height: 7%;
            width: 100%;
        }

        .overlay::after{
            opacity: 1;
            visibility: visible;
        }

        &.side_left .overlay::after{
            bottom: 0px;
            top: unset;
        }

        &.side_right .overlay::after{
            bottom: unset;
            top: -7px
        }
    
        &.side_left .overlay{
            right: unset;
            left: 0;
        }

        &.side_right .overlay{
            bottom: 0;
            top: unset;
        }
    }

    .arrow{
        img{
            display: none;
        }
        span{
            font-size: 14px;
            opacity: .77;
            display: inline !important;
        }
    }

    .overlay .arrow_left{
        right: unset;
        top: -100px;
    }
    .collapsed .arrow_left{
        top: 50%;
        margin-top: -4px;
    }

    .overlay .arrow_right{
        right: unset;
        top: 100px;
    }
    .collapsed .arrow_right{
        top: 50%;
        margin-top: -4px;
    }
    .arrow img{
        transform:rotate(-90deg);
        width: 20px;
    }
}

@media (max-width: 768px){
    ::-webkit-scrollbar{
        display: none;
    }
    .cursor{
        display: none;
    }
    .expanded{
        .offer_left{
            bottom: 15%
        }
    }
    .offer_left,.offer_right{
        margin-left: 15px;
        max-width: calc(100% - 30px);
        width: calc(100% - 30px);
    }

    .offer{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .offer__hashtag{
        font-size: 12px;
    }
    .offer__title{
        font-size: 25px;
        display: inline-block;
        // margin-bottom: 44px;
    }
    .offer__btn{
        font-size: 13px;
        padding: 8px 20px;
        display: inline-flex;
    }

    .phone__icon{
        width: 60px;
        height: 60px;
        display: inline-flex;


        svg{
            width: 23px;
        }
    }

    .phone{
        bottom: 16px;
        left: unset;
        right: 27px;
        display: inline-block;
        
    }

    .phone:hover .phone__number{
        left: unset;
        right: 80px;
        top: 11px;
    }

    .phone__number{
        // padding: 4px 12px;
        font-size: 12px;
        position: absolute;
        width: 140px;
        @include center-h
    }

    @keyframes pulse{
        from{
            width: 60px;
            height: 60px;
            background: rgba($accent,1);
        }
        to{
            width: 90px;
            height: 90px;
            background: rgba($accent,0);
        }
    }

    .gallery{
        padding: 50px 0;
    }


    .section-title{
        font-size: 25px;
        margin-bottom: 61px;


        &::after{
            width: 39px;
            height: 5px;
        }
    }


    footer{
        padding-bottom: 30px;
        a{
            margin-top: 10px;
        }
    }
}